html {
    font-size: 10px;
    font-family: "Mulish", sans-serif;
}

h1 {
    font-size: 60px;
    text-align: center;
}
h2 {
    font-size: 48px;
}
h3 {
    font-size: 36px;
}
h4 {
    font-size: 24px;
}

a, p, li {
    font-size: 16px;
    line-height: 2;
}
