html {
    font-size: 10px;
    font-family: "Mulish", sans-serif;
    background-color: #00539f;
}

h1, h2, h3, h4, p, li, a {
    color: #fff;
    font-size: 16px;
    line-height: 2;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    text-shadow: 3px 3px 1px black;
    font-size: 60px;
    text-align: center;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 24px;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #ff9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

img {
    display: block;
    margin: 0 auto;
    width: 600px;
}