:root {
    --neutral-900: #091540;
    --neutral-800: #202535;
    --neutral-700: #2F364B;
    --neutral-600: #535868;

    --neutral-300: #C6C6C6;
    --neutral-200: #D6E2F5;
    --neutral-100: #EEEEEE;
    --neutral-0: #FBFDFE;

    --red-700: #C7231A;
    --red-500: #DE4840;
    --red-400: #F25C54;

    --light-gradient: linear-gradient(180deg, #EBF2FC 0%, #EEFBF9 100%);
    --dark-gradient: linear-gradient(180deg, #04091B 0%, #091540 100%); 

    --spacing-0: 0px;
    --spacing-025: 2px;
    --spacing-050: 4px;
    --spacing-075: 6px;
    --spacing-100: 8px;
    --spacing-125: 10px;
    --spacing-150: 12px;
    --spacing-200: 16px;
    --spacing-250: 20px;
    --spacing-300: 24px;
    --spacing-350: 28px;
    --spacing-400: 32px;
    --spacing-450: 36px;
    --spacing-500: 40px; 
    --spacing-600: 48px;
    --spacing-800: 64px;
    --spacing-1000: 80px;

    --radius-0: 0px;
    --radius-4: 4px;
    --radius-8: 8px;
    --radius-10: 10px;
    --radius-12: 12px;
    --radius-16: 16px;
    --radius-20: 20px;
    --radius-24: 24px;
    --radius-full: 999px; 
}   

@font-face {
    font-family: 'Noto Sans';
    src: 
        local("Noto Sans"),
        url("../assets/fonts/NotoSans-VariableFont_wdth,wght.ttf") format("truetype-variations");
    font-weight: 100 900;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, span, div{
    color: var(--neutral-900);
    margin: 0;
    padding: 0;
}

.text-preset-1 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700; /* Bold */
    font-size: 34px;
    line-height: 100%;
    letter-spacing: -1px;
}

.text-preset-2 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700; /* Bold */
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.2px;
}


.text-preset-3 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400; /* Regular */
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.3%;
}

.text-preset-4 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500; /* Medium */
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.3%;
}

.text-preset-5 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400; /* Regular */
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.5%;
}

.text-preset-6 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500; /* Medium */
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.5%;
}

html {
    background-image: var(--light-gradient);
    width: 100%;
    height: 100%;
}

body {
    width: 60%;
    margin: 50px auto;
    justify-items: center;
}

button {
    background: none;
    font-family: 'Noto Sans', sans-serif;
    border-radius: var(--radius-full);
    border: 1px solid --neutral-300;
    padding: var(--spacing-100) var(--spacing-200);
}

.switch {
    position: relative;
     display: inline-block;
    width: 36px;
    height: 20px;
    background-color: var(--red-700);
    border-radius: var(--radius-full);
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--neutral-300);
  border-radius: var(--radius-full);

  -webkit-transition: .4s;
  transition: .4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  top: 2px;
  background-color: var(--neutral-0);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: var(--radius-full);

  box-shadow: 0px 1px 3px rgba(10, 13, 18, 0.15);
}

input:checked + .slider {
    background-color: var(--red-500);
}

input:checked + .slider::before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

button:hover {
    cursor: pointer;
    opacity: 0.8;
}

#main-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: var(--spacing-150) var(--spacing-200);

    border: 1px solid var(--neutral-200);
    border-radius: var(--radius-20);
    background-color: var(--neutral-0);
}

#icon-theme {
    background-color: var(--neutral-100);
    padding: var(--spacing-200);
    border-radius: var(--radius-12);
}

#icon-theme:hover {
    cursor: pointer;
    opacity: 0.8;
}


#list-header {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-800) 0 var(--spacing-400);
    flex-wrap: wrap;
}

@media (max-width: 975px) {
  #list-header {
    justify-content: center;
    gap: var(--spacing-150);
  }
}

#extensions-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--spacing-150);
}

.extension-item {
    background-color: var(--neutral-0);
    padding: var(--spacing-250);
    border-radius: var(--radius-20);
}

.extension-item-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: var(--spacing-200);
    width: 350px;
    height: 150px;
}

.extension-item-descriptions .text-preset-5{
    margin-top: var(--spacing-100);
}


.extension-icon {
    width: 64px;
    height: 64px;
}

.extension-item-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.selected-chip, .unselected-chip {
    border-radius: var(--radius-full);
    padding: var(--spacing-100) var(--spacing-250);
}

.selected-chip:hover, .unselected-chip:hover {
    cursor: pointer;
    opacity: 0.8;
}

.selected-chip {
    background-color: var(--red-700);
    color: var(--neutral-0);
    border: 1px solid var(--red-700);
}

.unselected-chip {
    background-color: var(--neutral-0);
    color: var(--neutral-900);
    border: 1px solid var(--neutral-200);
}